Copy and paste hereafter two examples of variable assigment from tutorial001 and tutorial006:
1. tutorial001: y = np.sin(x)
2. tutorial006: cb = pd.read_clipboard()

Without yet knowing much about the types of operators, can you guess which one of the options below is not an example of an operator?

A. 2 * 4
B. 4 / 2
C. b + 2
D. a - 1
E. a

Option E is not an example of an operator.

In [1]:
# int
1 + 1 
type(1 + 1) # sum of ints = int

int

In [2]:
a = 4
type(a)

int

Insert three example (not used above) of int numbers: 
1. 5
2. 6
3. 7

In [3]:
# float
c = 2.1
type(c)

float

Insert three example (not used above) of float numbers: 
1. 2.11
2. 2.111
3. 2.1111

In [4]:
# complex data types (e.g. complex numbers)
a = 1.5 + 0.5j
type(a)

complex

In [5]:
print(a.real) # real part of `a`
print(a.imag) # imaginary part of `a`

1.5
0.5

Insert three example (not used above) of complex numbers:
1. 2.4 + 0.7j
2. 3.4 + 1.2j
3. 5.6 + 3.4j

In [6]:
# dynamically changing language 
a = 1.5 + 0.5j # a is complex type var
type(a)

complex

In [7]:
b = 2 # b is int
type(b)

int

In [8]:
c = a + b # c is complex type var
type(c)

complex

In [9]:
a = 1.5 # a changed to float
type(a)

float

In [10]:
b = 2 # b is still int
type(2)

int

In [11]:
c = a + b  # c changed to float
type(c)

float

Write an example of a float variable added to an int variable. Specify each variable name and show the type for each variable, as well as for the output variable. Write the code in the cell below.

In [12]:
# create a float and int var
myFloat = 2.5
myInt = 3

# add float and int var
sum = myFloat + myInt

# print sum and types of vars
print(sum)
print(type(myFloat), type(myInt), type(sum))

5.5
<class 'float'> <class 'int'> <class 'float'>

Write an example of a float variable added to an complex variable. Specify each variable name and show the type for each variable, as well as for the output variable. Write the code in the cell below.

In [13]:
# create a float and complex var
myFloat2 = 3.5
myComplex = 2.6 + 3.2j

# add float and complex var
sum2 = myFloat2 + myComplex

# print sum and types of vars
print(sum2)
print(type(myFloat2), type(myComplex), type(sum2))

(6.1+3.2j)
<class 'float'> <class 'complex'> <class 'complex'>

In [14]:
# boolean
a = True
type(a)

bool

In [15]:
b = False
type(b)

bool

What happens if you define a new variable a using the word false (without uppercase)?

The program will run into an error (name 'false' is not defined). You would have to define the variable with an uppercase False to define a boolean variable.

In [16]:
# boolean continued (logical operators)
a = 3 > 4
type(a)

bool

In [17]:
print(a)

False

In [18]:
b = 3 <= 3
type(b)

bool

In [19]:
print(b)

True

What happens if you define a two variables a which is bool and b which is int and attempt to add them together?

In [20]:
# create a bool and int
a = True
b = 5

# sum bool and int
sum3 = a + b

# print out type of sum of bool and int
print(sum3, type(sum3))

6 <class 'int'>

The sum of a boolean and an int is an integer type because int is the more "complex" (i.e. requires more memory) than a boolean type. Note that True is coded as 1 and False is coded as 0, so the addition will use these numerical values when adding.

In [21]:
# strings
a = 'hello'
type(a)

str

In [22]:
b = ' '
type(b)

str

In [23]:
c = a + b + 'world!' # string concatentation
print(c)

hello world!

In [24]:
s = '''Hello World,
How are you?
Marvelous!''' # can span mult lines b/c python recognizes return char; use triple qotes
print(s)

Hello World,
How are you?
Marvelous!

In [25]:
# NoneType
a = None # has to be caps
type(a)

NoneType

In [26]:
print(a)

None

What is the cube of 3.33?

In [32]:
print(3.33**3)

36.926037

Write code to perform the sum of a = 3 and b = 5.51 multiplied by 65.1233?

In [28]:
# create vars to sum
a = 3
b = 5.51

# sum and multiply, then print answer
answer = (a + b) * 65.1233
print(answer)

554.199283

Compare 3.33333 and 5.55, which one is bigger?

5.55 is bigger since 3.33333 <  5.55 results in True (see below).

In [29]:
three = 3.33333
five = 5.55
print(three < five)

True

Is it true that 3.33333 and 5.55 are not equal?

Yes, since 3.3333 != 5.55 results in True (see below).

In [30]:
print(three != five)

True